@charset "UTF-8";
/*
 * For browser viewing:
 * load this style in Web publications (format: webpub)
 */
/* common styles */
/*
 * For all media (print, screen)
 */
/* you can import partial SCSS files */
/* @import '_valiables'; */
/* @import '_toc'; */
/* ... */
@import 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css';
html {
  orphans: 1;
  widows: 1;
  font-family: sans-serif;
  font-size: 10pt;
}

title {
  string-set: doc-title content();
}

@page {
  size: A5;
}
@page :left {
  @top-left {
    content: counter(page) "　" string(doc-title);
  }
}
@page :right {
  @top-right {
    content: counter(page);
  }
}
code {
  background-color: #f6f6f6;
  padding: 0 3pt;
}

figure[class^=language-] {
  margin: 0.5em 0;
}
figure[class^=language-] figcaption {
  background-color: #e6e6e6;
}
figure[class^=language-] pre {
  margin: 0pt;
}

.footnote-ref sup {
  background-color: #ff8989;
}

.footnote-back {
  background-color: #ff8989;
}

.footnotes {
  font-size: 8pt;
}

p {
  margin: 0;
  text-align: justify;
  text-indent: 3em;
}
p:first-of-type {
  text-indent: 0;
}
:root:lang(ja) p {
  text-indent: 1em;
}

img {
  max-width: 100%;
}

figure figcaption {
  text-align: center;
  counter-increment: figure;
}
figure figcaption:before {
  margin-right: 1rem;
  content: "Figure" counter(figure) ".";
}
:root:lang(ja) figure figcaption:before {
  content: "図" counter(figure) ".";
}

.custom {
  color: #de3e3e;
}

ruby rt {
  color: #de3e3e;
}

body > section {
  margin: 10px auto;
}

html {
  counter-reset: section subsection figure;
}

section > h1,
section > h2,
section > h3,
section > h4,
section > h5,
section > h6 {
  padding: 0;
  font-weight: bold;
  break-after: avoid;
}
section > h1 {
  margin: 10pt auto 5pt;
  font-size: 14pt;
  line-height: 1.5;
  counter-increment: section;
  counter-reset: subsection;
}
section > h1:before {
  margin-right: 1rem;
  content: counter(section) ".";
}
section > h2 {
  margin: 8pt auto 4pt;
  font-size: 12pt;
  counter-increment: subsection;
}
section > h2:before {
  margin-right: 1rem;
  content: counter(section) "." counter(subsection) ".";
}

section.title {
  color: #de3e3e;
}

blockquote > h1 {
  font-size: inherit;
}

@page :first {
  counter-reset: p;
}
@page {
  counter-increment: p;
  @top-center {
    content: string(doc-title);
  }
}
@page :left {
  @top-left {
    content: counter(p);
  }
}
@page :right {
  @top-right {
    content: counter(p);
  }
}
@page :nth(1) {
  counter-increment: chapter p;
}
section > h1 {
  border-top: 10pt solid black;
}
section > h1::before {
  content: "第 " counter(chapter) " 章";
  display: block;
  font-size: 80%;
  margin: 10pt auto;
}

.author {
  font-weight: bold;
  text-align: right;
  border-bottom: 10pt solid black;
  margin-bottom: 20pt;
}

html {
  line-height: 2rem;
}

html.natsume h1, html.natsume .author {
  border-color: #D1307D;
}

html.akutagawa h1, html.akutagawa .author {
  border-color: #24AAE1;
}

/* and more... 🖋 */
@page {
  /* if you open the publication on Vivliostyle Viewer, this message will be shown */
  @top-left {
    content: "theme_screen";
  }
}
/* for wide screen */
body {
  max-width: 800px;
  margin: 2rem auto 2rem;
}

/* highlight footnote */
.footnote {
  vertical-align: super;
  background-color: aliceblue;
  color: gray;
}
.footnote a {
  word-break: break-all;
}

/* and more... 🖋 */

/*# sourceMappingURL=theme_screen.css.map */
